<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "/valueTest",
            dataType: "text",
            success: (data) => {
                console.log(data);
                $('#contents').html(data);
            }
        });
    </script>

</head>
<body>
    <h1>Hello!</h1>
    <div id="contents">
    </div>

    <form th:object="${userMaster}" method="post" action="/">
        User id:<br>
        <label>
            <input type="text" th:field="*{id}" name="id">
        </label><br>
        User password:<br>
        <label>
            <input type="password" th:field="*{passwd}" name="passwd">
        </label><br>
        User name:<br>
        <label>
            <input type="text" th:field="*{user_name}" name="user_name">
        </label><br>
        User bitrhday(ex:19951226):<br>
        <label>
            <input type="text" th:field="*{bitrhday}" name="birthday">
        </label><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>